@{
    ViewData["Title"] = "Person";
}

<div class="row">

    <h1>Person Component</h1>

    <p>
        Lorem ipsum......
    </p>
    <bootstrap-button element="button" type="button" option="primary" value="Teste!"></bootstrap-button>
    <test-button element="button" type="button" option="primary" value="Teste 2!"></test-button>
    
    @*<button data-placement="top">Meu Botão!</button>*@
</div>

@section scripts{

    <script type="text/javascript" src="/wwwroot/js/person.js"></script>

}