@{
    ViewData["Title"] = "Person";
}

<div class="row">

    <h1>Person Component</h1>

    <p>
        Lorem ipsum......
    </p>
</div>

@section scripts{

    <script type="text/javascript" src="/wwwroot/js/person.js"></script>

}